STK_ENV=
STK_DATABASE_URL=
STK_JWT_SECRET=
STK_JWT_ISSUER=
STK_ACCESS_TOKEN_MINUTES=
STK_BOOTSTRAP_ADMIN_EMAIL=
STK_BOOTSTRAP_ADMIN_NAME=
STK_BOOTSTRAP_ADMIN_PASSWORD=
STK_BOOTSTRAP_SERVICE_CLIENT_ID=
STK_BOOTSTRAP_SERVICE_NAME=
STK_BOOTSTRAP_SERVICE_SECRET=
NEXT_PUBLIC_STK_API_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

